.tile-item {  
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
.card-max-size {
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}
.card-header-fixed{
    height: 70px;
}

.card-content-fixed{
    height: 270px;
    background: 50% no-repeat;
    background-size: contain;
}






.content-tab-scroll-vert {
    overflow-x: hidden;
    height: 712px;
    width: 100%;
}

