<footer class="flex-container flex-row ">
        <div class="item item-1">1</div>
        <div class="item item-2">2</div>
        <div class="item item-3">3</div>
        <div class="item item-4">
          <div class="flex-container flex-col ">
            <div class="item item-a">a</div>
            <div class="item item-b">b</div>
            <div class="item item-c">c</div>
          </div>
        </div>
</footer>


<!-- <footer>
<div class="flex-container">
       <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div class="lateral">4</div>
</div>
</footer> -->





<!-- <div flex *ngIf="info">
        <h6>{{info.name}} {{ translate.instant('App.Footer.Version')}}: {{info.version}}</h6>
        <h6>{{info.author}} Copyright {{info.year}}</h6>
    </div> -->