.card-max-size {
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 0px 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
}

.card-header-fixed{
    height: 70px;
}

.game-avatar-image{
    background-size: cover;
}


.card-content-fixed{
    height: 270px;
    background: 50% no-repeat;
    background-size: contain;
    
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.card-content-fixed .card-content-text {
    border: 1px solid rgba(0, 0, 0, 0.342);
    border-radius: 5px 5px;
    background-color: rgba(230, 230, 250, 0.246);
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
    padding: 5px;
}

.margin-right-10{
  margin-right: 10px;
}

.new-game-button{
	max-width: 50px;
  }



