<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #appsidenav class="sidenav" fixedInViewport="true" attr.role="navigation" mode="over">
    <mat-toolbar color="primary" class="mat-elevation-z10"> {{ 'App.SideNav.Actions' | translate }} </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="showMenuLanguage = !showMenuLanguage">
        <mat-icon matListIcon>translate</mat-icon>
        {{ 'App.SideNav.Select_lang' | translate }}
        <mat-icon *ngIf="!showMenuLanguage">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenuLanguage">expand_more</mat-icon>
      </a>
      <mat-nav-list *ngIf="showMenuLanguage">
        <mat-list-item *ngFor="let lang of listLanguages" [class.activated]="lang.id == currentLang" (click)="changeLanguage(lang.id)">
          {{ 'App.Languages.'+lang.name | translate }}
          <p class="spacer">&nbsp;</p>
          <mat-icon *ngIf="lang.id == currentLang">radio_button_checked</mat-icon>
          <mat-icon *ngIf="lang.id != currentLang">radio_button_unchecked</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-nav-list>
    <mat-toolbar color="primary" class="mat-elevation-z10"> {{ 'App.SideNav.Menu' | translate }} </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" [class.activated]="currentUrl == '/' || currentUrl == '/home'" (click)='appsidenav.toggle()'>
        <mat-icon matListIcon>home</mat-icon>
        {{ 'pagHome.Title' | translate }}
      </a>
      <a mat-list-item routerLink="/about" [class.activated]="currentUrl == '/about'" (click)='appsidenav.toggle()'>
        <mat-icon matListIcon>persons</mat-icon>
        {{ 'pagAbout.Title' | translate }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="!loading" class="app-container">
    <header *ngIf="checkIfShowHeaderAndFooter()" class="mat-elevation-z10">
      <app-tool-bar></app-tool-bar>
    </header>
    <router-outlet class="router-outlet"></router-outlet>
    <footer *ngIf="checkIfShowHeaderAndFooter()">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
<div *ngIf="loading">
  <br><br><br><br><br><br><br><br><h1>----------------  ACÁ VÁ EL WAIT</h1>
</div>