<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #appsidenav class="sidenav" fixedInViewport="true" attr.role="navigation" mode="over">
    <mat-toolbar color="primary" class="mat-elevation-z10"> {{ translate.instant('App.SideNav.Actions') }} </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="toggleMenu()">
        <mat-icon matListIcon>translate</mat-icon>
        {{ translate.instant('App.SideNav.Select_lang') }}
        <mat-icon *ngIf="!showMenuLanguage">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenuLanguage">expand_more</mat-icon>
      </a>
      <mat-nav-list *ngIf="showMenuLanguage">
        <mat-list-item *ngFor="let lang of listLanguages" [class.activated]="lang.id == actualLang" (click)="changeLanguage(lang.id)">
          {{ translate.instant('App.Languages.'+lang.name) }}
          <p class="spacer">&nbsp;</p>
          <mat-icon *ngIf="lang.id == actualLang">radio_button_checked</mat-icon>
          <mat-icon *ngIf="lang.id != actualLang">radio_button_unchecked</mat-icon>
        </mat-list-item>
      </mat-nav-list>
    </mat-nav-list>
    <mat-toolbar color="primary" class="mat-elevation-z10"> {{ translate.instant('App.SideNav.Menu') }} </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" [class.activated]="currentUrl == '/' || currentUrl == '/home'" (click)='appsidenav.toggle()'>
        <mat-icon matListIcon>home</mat-icon>
        {{ translate.instant('pagHome.Title')}}
      </a>
      <a mat-list-item routerLink="/about" [class.activated]="currentUrl == '/about'" (click)='appsidenav.toggle()'>
        <mat-icon matListIcon>persons</mat-icon>
        {{ translate.instant('pagAbout.Title') }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="app-container">
    <header *ngIf="currentUrl != '/chinker'" class="mat-elevation-z10">
      <app-tool-bar></app-tool-bar>
    </header>
    <router-outlet class="router-outlet"></router-outlet>
    <footer *ngIf="currentUrl != '/chinker'">
      <app-footer></app-footer>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>