<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="contenedor-logo" aria-label="Toggle sidenav" (click)="toggleAppSidenav()">
      <div class="contenedor-logo" [ngClass]="{'contenedor-logo-mini': inSmallScreen}">
        <img class="shadow10" src="../assets/logo/fondoLogo.svg" />
      </div>
      <div class="contenedor-logo anim-in anim-hover" [ngClass]="{'contenedor-logo-mini': inSmallScreen}">
        <img src="../assets/logo/letraLogo.svg" />
      </div>
    </div>
    <div class="tool-bar-spacer">
      <span [hidden]="inSmallScreen" class="center-title"> {{ "App.Title"| translate }} </span>
    </div>

    <div *ngIf="user | async; let user; else loguearse;" class="toolbar-inline">
      <ngx-auth-firebaseui-avatar 
      (onSignOut)="logout()"></ngx-auth-firebaseui-avatar>
    </div>
    <ng-template #loguearse>
        <h3 class="textlogin" [hidden]="inSmallScreen" (click)="openDialogLogin()">{{ 'App.MenuUser.Login'| translate }}</h3>
        <button mat-mini-fab color="primary" (click)="openDialogLogin()">
          <mat-icon class="iconlogin">how_to_reg</mat-icon>
        </button>
    </ng-template>

  </mat-toolbar-row>
</mat-toolbar>