.container-login {
  padding: 0 14px;
}

.tool-bar-spacer {
  flex: 1 1 auto;
  text-align: center;
}
.center-title{
  padding-left: 100px;
}
.activated {
  background-color: #00a8ff;
}
.textlogin {
  padding-right: 15px;
}
.iconlogin{
  font-size: 32px;
  margin-top: -8px;
  margin-left: -8px;
}
.toolbar-inline{
  display: inline-block;
}