.example-icon {
    padding: 0 14px;
  }
  
  .tool-bar-spacer {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .contenedor-logo{
    position: absolute;
    top: 10px;
    left: 5px;
    height: 60px;
    width: 60px;
    z-index: 100;
  }
  
.center-title{
  padding-left: 100px;
}
.activated {
  background-color: #00a8ff;
}

.textlogin {
  width:80px;
  margin-left: -80px;
  margin-top: -3px;
}
.iconlogin{
  font-size: 36px;
  margin-top: -72px;
  margin-left: -12px;
}

  .anim-in {
  animation: anim-fadeinApp 1s ease;
  }
  
  .anim-hover:hover {
  animation: anim-icon-on-over 1s ease;
  }
  
  .toolbar-inline{
  display: inline-block;
  }

  .toolbar-user-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  }
    
  @keyframes anim-icon-on-over {
  from {
      opacity: 0;
      transform: rotateY(180deg);
  }
  to {
      opacity: 1;
      transform: rotateY(360deg);
  }
  }
  
  @keyframes anim-fadeinApp {
  from {
      opacity: 0;
      transform: rotateY(180deg);
  }
  to {
      opacity: 1;
      transform: rotateY(360deg);
  }
  }