<section class="page-container">
  <home-jumbotron class="jumbotron-container"></home-jumbotron>
  <div class="grid-container">
    <mat-grid-list [cols]="matGridSetup.cols" [rowHeight]="matGridSetup.rowHeight"
      [gutterSize]="matGridSetup.gutterSize" class="mainDashboardGrid">
      <mat-grid-tile [colspan]="matGridSetup.JoinOrCreateGame.colsSpan"
        [rowspan]="matGridSetup.JoinOrCreateGame.rowsSpan">
        <mat-tab-group mat-stretch-tabs class="mainDashboardGrid-tile">
          <mat-tab label="{{'pagHome.CreateGame' | translate }}">
            <home-create-game [CreateGameGrid]="matGridSetup.JoinOrCreateGame.CreateGameSubGrid"></home-create-game>
          </mat-tab>
          <mat-tab label="{{'pagHome.JoinGame' | translate }}">
            <home-join-game></home-join-game>
          </mat-tab>
        </mat-tab-group>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="matGridSetup.GamesInProgress.colsSpan"
        [rowspan]="matGridSetup.GamesInProgress.rowsSpan">
        <home-games-in-progress class="mainDashboardGrid-tile"></home-games-in-progress>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div class="mainDashboardGrid-tile">
          ITEM 3
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>





</section>