<section class="page-container">
  <jumbotron class="jumbotron"></jumbotron>

  <div class="grid-container">
    <mat-grid-list [cols]="matGridSetup.cols" [rowHeight]="matGridSetup.rowHeight"
      [gutterSize]="matGridSetup.gutterSize">
      <mat-grid-tile [colspan]="matGridSetup.JoinOrCreateGame.colsSpan"
        [rowspan]="matGridSetup.JoinOrCreateGame.rowsSpan">
        <join-or-create-game></join-or-create-game>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="matGridSetup.GamesInProgress.colsSpan"
        [rowspan]="matGridSetup.GamesInProgress.rowsSpan">
        <games-in-progress></games-in-progress>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1"
        [rowspan]="1">
        <div class="tempo">
          ITEM 3
        </div>
      </mat-grid-tile>


    </mat-grid-list>
  </div>





</section>