<div class="hero-section">
  <div class="hero-layer layer1"></div>
  <div class="hero-layer layer2"></div>
  <!-- <mat-grid-list cols="2" rowHeight="40vh" class="hero-layer layer3" >
    <mat-grid-tile>
     
    </mat-grid-tile>
    <mat-grid-tile [style.background]="blue">accaaaaa2</mat-grid-tile>
  </mat-grid-list> -->
  <img src="../assets/images/200px-Bender.png" class="hero-layer layerImg" >
  <div class="hero-layer text-wrapper">
    <div class="texto text1">Voy a crear mis propios juegos!</div>
    <div class="texto text2">y los haré con Angular</div>
    <div class="texto text3">y Phaser</div>
  </div> -->
</div>