.gameWrapperFullScren {
    min-width: 100vw;
    min-height: 100vh;

    /* background-color:rgb(0, 71, 153);
    border: 1px yellow solid;
    box-sizing: border-box; */
}
.game-sidenav{
    width: 300px;
    max-width: 80vw;
}

.game-content {
    min-width: 100%;
    min-height: 100%;
    /* background-color:rgb(222, 247, 199); 
    border: 2px red solid;
    box-sizing: border-box; */
}

.game-display {
    min-height: 80%;
}
.boardgame {
    position: relative;
    top: 2vh;
    left: 2vw;
    min-height: 76vh;
    max-height: 76vh;
    min-width: 96vw;
    max-width: 96vw;
    overflow: hidden;
    user-select: none;
  }
  .chessboardgame {
    width: 100%;
    max-width: 76vh;
    margin: 0 auto;
  }

  .game-controls {
    min-height: 5%;
    max-height: 5%; 
    display: flex;
    flex-direction: row;
    border-top: 2px solid black;   
    box-sizing: border-box;

    }
  .game-controls-left {
    flex: 0 0 auto;
    position: absolute;
    margin-top: -35px;
    margin-left: 10px;

  }

  .game-controls-center {
    flex: 1 1 auto;
    text-align: center;
  }
  .game-controls-rigth {
    flex: 0 0 auto;
  }
  .btn-send-turn {
    margin: 10px;
    margin-top: -20px;
  }


.game-on-table {
  min-height: 15%;
  max-height: 15%;
  padding-bottom: 2px;
  margin: 0 20%;
  overflow: hidden
}

.gridPiecesOutBoard {
  height: 15vh;
  margin: 0 auto;
}

.imgPiece-out-board {
  height: 6vh;
  margin: 10%;
}
.imgPiece-out-board-zero {
  opacity: 0.3;
}

.show-badge{
  overflow: visible;
}
.badge{
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-color: #ff0000; 
  border: 4px solid #ff0000;
  color: #ffffff;
  text-align: center;
  font-size: 100%;
  display: inline-block; 
  vertical-align: middle;
  line-height: normal;
}
