
<h2 mat-dialog-title>{{'Game.Shared.CreateNewRecuitment'| translate}}</h2>
<mat-dialog-content class="dialog-content">
   <!-- Stepper for quick star -->
   <div *ngIf="data.action === 'quickStart'">
         {{data.action}}


         <div class="row">
            <div class="col">
               <mat-form-field class="full-width">
                  <input class="formTextArea" matInput> 
                  {{ 'http://localhost:4200/games/chess/' + data.gameId + '/anonymousPlayer1' }}
                  </input>
               </mat-form-field>
            </div>
         </div>

         <div class="row">
            <div class="col">
         <button mat-button color="primary" (click)="close()" [routerLink]="['/games/chess/',data.gameId, 'anonymousPlayer2']">
            <div>
               Open
             </div>
            <!-- <div *ngIf="gameInProgress.isMyTurn">
              Go
            </div>
            <div *ngIf="!gameInProgress.isMyTurn">
              Open
            </div> -->
          </button>
         </div>
      </div>


   </div>
   <!-- Stepper for recruitment -->
   <mat-vertical-stepper *ngIf="data.action != 'quickStart'" linear #stepper>
      <mat-step [stepControl]="firstFormGroup">
         <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>{{'Game.Shared.ChosseName'| translate}}</ng-template>
            <div class="row">
               <div class="col">
                  <mat-form-field hintLabel="{{'Game.Shared.ChosseNameHintLabel'| translate}}" class="full-width">
                     <input matInput placeholder="{{'Game.Shared.GameName'| translate}}" formControlName="name" maxlength="15" required>
                     <mat-hint align="end">{{firstFormGroup.get('name').value?.length || 0}}/15</mat-hint>
                     <button mat-button matSuffix mat-icon-button aria-label="Clear"
                        (click)="firstFormGroup.controls['name'].setValue(null)">
                        <mat-icon>close</mat-icon>
                     </button>
                     <mat-error *ngIf="firstFormGroup.controls['name'].hasError('required')">
                        "{{'Game.Shared.GameNameIsRequired'| translate}}"
                     </mat-error>
                  </mat-form-field>
               </div>
            </div>

            <div class="row">
               <div class="col">
                  <mat-form-field class="full-width">
                     <textarea class="formTextArea" matInput placeholder="{{'Game.Shared.GameDescriptionPlaceHolder'| translate}}"
                        formControlName="description"></textarea>
                  </mat-form-field>
               </div>
            </div>
            <div class="buttonBar">
               <button mat-button matStepperNext>{{ 'App.Msg.Next' | translate }}</button>
            </div>
         </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
         <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>{{ 'Game.Shared.GameConfig' | translate }}</ng-template>
            <div class="row">
               <div class="col">
                  <mat-form-field class="alignRight">
                     <mat-label>{{ 'Game.Chess.ColorSelect' | translate }}</mat-label>
                     <mat-select formControlName="color">
                        <mat-option *ngFor="let opt of optionsColor" [value]="opt.value">
                           {{opt.viewValue | translate}}
                        </mat-option>
                     </mat-select>
                  </mat-form-field>
               </div>
            </div>
            <div class="buttonBar">
               <button mat-button matStepperPrevious>{{ 'App.Msg.Back' | translate }}</button>
               <button mat-button matStepperNext>{{ 'App.Msg.Next' | translate }}</button>
            </div>
         </form>
      </mat-step>
      <mat-step>
         <ng-template matStepLabel>{{ 'Game.Shared.GameConfigSummary' | translate }}</ng-template>
         <div class="row">
            <div class="col">
               <label class="alignRight">{{'Game.Shared.GameName'| translate}}: </label>
            </div>
            <div class="col">
               <label>{{firstFormGroup.get('name').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">{{'Game.Shared.GameDescriptionLabel'| translate}}: </label>
            </div>
            <div class="col">
               <label>{{firstFormGroup.get('description').value}}</label>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <label class="alignRight">{{'Game.Chess.ColorLabel'| translate}}: </label>
            </div>
            <div class="col">
               <label>{{secondFormGroup.get('color').value}}</label>
            </div>
         </div>
         <div class="buttonBar row">
            <button mat-button matStepperPrevious>{{ 'App.Msg.Back' | translate }}</button>
            <button mat-button (click)="stepper.reset()">{{ 'App.Msg.Reset' | translate }}</button>
            <div class="spacer"></div>
            <button mat-button color="primary" (click)="onSubmit()">{{'Game.Shared.SendNewRecruitment'| translate}}</button>
         </div>
      </mat-step>
   </mat-vertical-stepper>
</mat-dialog-content>